<template name="footer">
    <div class="ui black inverted vertical footer segment">
  <div id="footer" class="ui footer page one column grid">
    <div class="column">
      <div class="ui divider"></div>
      <div>
        Beards of the British Library is an <a href="http://artefacto.org.uk" target="new">Artefacto production</a>, check it out <a href="https://github.com/artefacto/beards-of-the-british-library" target="new">on Github</a> in all its beardie goodness.
      </div>
    </div>
  </div>
    </div>
</template>
