<template name="home">

    <div class="ui raised very padded text container segment">
        <h2 class="ui header">About this collection</h2>
        <p>View the collection and collect and annotate your own collection</p>

        <p>View the <a href="{{pathFor 'fullCollection'}}">full collection</a></p>
    </div>



    <div class="ui raised very padded text container segment center aligned">

        <div class="center aligned row">


                    <h2 class="ui icon header">
                                   <i class="browser icon"></i>
                    <div class="content">
                        Slideshow
                        <div class="sub header">Browse the collection <a href="{{pathFor 'slideshow'}}" class="item">as a slideshow</a></div>
                    </div>
                    </h2>

                </div>
        </div>

    <div class="ui raised very padded text container segment center aligned container">

    <div class="center aligned row">

                    <h2 class="ui icon header">
                        <i class="tags icon"></i>
                        <div class="content">
                            Categories
                            <div class="sub header">Browse the collection by <a href="{{pathFor 'categories'}}" class="item">categories</a></div>
                        </div>
                    </h2>
            </div>
                </div>


    <div class="ui raised very padded text container center aligned segment">


            <div class="center aligned row">
                <div class="column">
                    <h3><i class="icon find"></i> Search the collection by keyword </h3>
                    {{> searchBox}}
                </div>

            </div>

</div>

</template>
